<div class="body" >
<h1>Footbal teams</h1>
<div class="container">
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="form-group content">
      <label class="login-form-label">Team Id </label>
      <input
        class="form-control"
        type="number"
        placeholder="Enter a team ID"
        id="id"
        formControlName="id"
        data-cy="id"
      />
    </div>

    <div class="form-group">
      <button class="btn-primary" data-cy="login">Submit</button>
    </div>
  </form>
  <div>
    <pre *ngIf="response">{{ response | json }}</pre>
  </div>
</div>
</div>
