<div class="container">
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="form-group content">
      <label class="login-form-label">team Id </label>
      <input
        class="form-control"
        type="number"
        placeholder="Enter a team ID"
        id="id"
        formControlName="id"
        data-cy="id"
      />

      <label class="login-form-label">Team name </label>
      <input
        class="form-control"
        type="text"
        placeholder="Enter a team name"
        id="name"
        formControlName="name"
        data-cy="name"
      />
    </div>

    <div class="form-group">
      <button class="btn btn-primary" data-cy="login">Submit</button>
    </div>
  </form>
  <div>
    <pre *ngIf="response">{{ response | json }}</pre>
  </div>
</div>
